sistemaVacinacaoapp/__pycache__/
/apps/enderecos/__pycache__/*
/apps/enderecos/migrations/*
/apps/cartoes/__pycache__/*
/apps/cartoes/migrations/*
/apps/cidadaos/__pycache__/*
/apps/cidadaos/migrations/*
/apps/unidades/__pycache__/*
/apps/unidades/migrations/*
/apps/fabricantes/__pycache__/*
/apps/fabricantes/migrations/*
/apps/vacinas/__pycache__/*
/apps/vacinas/migrations/*
/apps/funcionarios/__pycache__/*
/apps/funcionarios/migrations/*
.env